@font-face { 
    font-family: times-new-roman; 
    src: url(times.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: pixel-arial-font; 
    src: url(pixel-arial-14.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: light-arial-font;  
    src: url(light-arial.ttf) format('truetype');
}
