@import "fonts.css";
* {
    box-sizing: border-box;
    scrollbar-color: #BDB5D5;
    scrollbar-width: thin;
}

.row{
    vertical-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
    font-family: "times-new-roman", sans-serif;
}
html {
    font-family: "light-arial-font", sans-serif;
}

body {
    background-color: #FFFFFF;
    color: #000;
    overflow-x: scroll;
    cursor: url('images/purple-cursor.png'), auto;
}

h1, h2, h3, h4, p {
    margin: 0;
}

a:link {
    color: #000;
    text-decoration: none;
    align-items: center;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #BDB5D5;
    text-decoration: none;
}

.main-content {
    position: relative;
    flex: 1;
    overflow: scroll;
}

.image {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
