<!DOCTYPE .css>

@import "fonts.css";
* {
    box-sizing: border-box;
    scrollbar-color: #BDB5D5;
    scrollbar-width: thin;
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

p { 
font-family: times new roman;
font-size: 18px;
    
h1 {
    font-family: "pixel-arial-font",
        font-size: 18px;
}
    
h2 {
    font-family: "light-arial-font",
        font-size: 18px;
}

body {
    background-color: #FFFFFF;
    color: #000;
    overflow-x: scroll;
    cursor: url('images/purple-cursor.png');
}

a:link {
    color: #000;
    text-decoration: none;
    align-items: center;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #BDB5D5;
    text-decoration: none;
    font-style: italic;
}

.main-content {
    float: none;
    text-align: left;
    padding: 5px 5px 5px 5px;
    margin: auto;
}

.image {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
