<!doctype .css>
@import "fonts.css" 

h1 {
    font-family: "pixel-arial-font";
        font-size: 15px;
}
h2 {
    font-family: "light-arial-font";
        font-size: 15px;
}
p { 
font-family: "times-new-roman";
font-size: 15px;
}

a:link {
    font-family: "light-arial-font";  
    color: #000;
    align-items: centre;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #BDB5D5;
    text-decoration: none;
    font-style: italic;
}

.body {
    background-color: #FFFFFF;
    overflow-x: scroll;
    cursor: url('images/purple-cursor.png')
    scrollbar-color: #BDB5D5;
    scrollbar-width: thin;
}

#content {
	position: fixed;
	width: 400px;
	padding: 10px;
	margin: 0 auto;

#main-column {
    float: none;
	text-align: centre;
	padding: 5px 5px;
	margin: auto;
	border-style: dotted;
    border-width: 5px;
    border-color: #BDB5D5;
}

.flex-container {
  display: flex;
  justify-content: space-around;
	align-items: center;
  width: 200px;
  flex-direction: row;
}
